@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	background-image:url(../img/blue.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	font-family: 'Roboto', sans-serif;
}

.botao {
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
input{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #CCC;
	border-radius: 2px;
	margin-top: 3px;
	font-family: "Verdana";
}

div.central {
	width: 330px;
	height: 250px;
	background-color: #ddd;
	border-radius: 3px;
}

div#container {
	margin-top: 200px;
}